* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BFDFFF;
    color: #545454;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    position: fixed;
    width: 100vw;
    height: 75px;
    top: 0;
    background-color: #545454;
    font-family: sans-serif;
    display: inline-flex;
    justify-content: space-between;
}
nav .navcontent {

    width: 75vw;
    margin-inline: auto;
    box-shadow: unset;
    background-color: unset;
    display: flex;
}
nav .search {
    width: 80%;
    box-shadow: unset;
    background-color: unset;

}

a {
    color: #545454;
}

a:hover {
    color: #007FFF;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}


nav div {
    margin-inline: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2px;
    padding-inline: 2px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 4px #00000025;

}

nav .navright {
    box-shadow: unset;
    background-color: unset;
    display: flex;
}

nav div img {
    margin: auto;
    border-radius: 5px;
    height: 28px;
    width: 28px;
}

nav .logo {
    width: auto;


}

.main {
    background-color: #FFFFFF;
    width: 75vw;
    margin-inline: auto;
    margin-top: 65px;
    padding: 10px;
}

.main .productactions img{
    width: 28px;
    height: 28px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0px 5px 4px #00000025;
    background-color: #62C370;
}

.main .productactions .productdelete img{
    background-color: #FF5A5F;
}

.main .productactions .productvisibility img{
    background-color: #BFDFFF;
}

.main .quickactions {
    display: flex;
    margin-inline: 1vw;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #545454;
    direction: rtl;
}

.main .quickactions .logout a:hover {
    color: #FF5A5F;
}

.main .quickactions .addproduct a:hover {
    color: #62C370;
}

.main .quickactions h6 {
    margin: 10px;
    white-space: nowrap;
}

.main .productactions {
    display: flex;
    flex-direction: row-reverse;
}

.main .productactions div {
    margin-inline: 5px;
}

.main .title {
    margin: 5px;
}
.main .title h2{
    text-align: center;
}



div .product {
    border-radius: 5px;
    box-shadow: 0px 5px 4px #00000025;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}

.userprofile {
    border-radius: 5px;
    box-shadow: 0px 5px 4px #00000025;
    padding: 1vh 1vw;
    margin: 1vh 1vw;

}

.userprofile table {
    margin-inline: auto;
}

.productdescription a {
    white-space: nowrap;
}

.adminoptions {
    display: flex;
    margin: 5px;
    justify-content: flex-end;
}

.adminoptions div {
    margin-inline: 5px;
}

.errors {
    color: #FF5A5F;
    font-size: 80%;
}
.productactions .errors img {
    background-color: #FF5A5F;
}
.productactions .confirmdeletion img {
    background-color: #FF5A5F;
}

form {
    border-radius: 5px;
    box-shadow: 0px 5px 4px #00000025;
    padding: 5vh 5vw;
    margin: 5vh 5vw;

    }

table {
    column-count: 5;
    column-width: 10vw;
    column-gap: 5px;
}

th {
    text-align: left;
    text-decoration: underline;
    font-size: 1.1em;
}



h1 {
    margin-top: 4px;
    padding-top: 10vh;
    font-size: 2.8em;
    text-align: center;
    font-family: serif;
    text-align: center;
    text-transform: uppercase;


}

h2 {
    margin-top: 4px;
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.05em;
}

section {
    border-radius: 15px 30px 15px 5px;
    background-color: rgb(226, 232, 221);
    box-shadow: 2px 4px rgb(12, 116, 137);
    padding: 20px;
    margin: 20px auto;
    color: rgb(22, 22, 66);
    font-size: 1.1em;
    max-width: 800px;
}


.imagegallery {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.imagegallery figure {
    display: block;
}

.imagegallery img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid rgb(17, 157, 164);
}

footer {
    background-color: rgb(23, 26, 33);
    font-family: "Montserrat", sans-serif;
    color: rgb(17, 157, 164);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    text-align: center;
}

footer div #icons {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

figcaption {
    color: rgb(23, 26, 33);
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
}
